{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>{{post.title}}</h4>
    <h3>Author: {{post.author.username}} </h3>
    <p>Publication Date: {{post.date.strftime('%M %d, %Y')}}</p>
    <pre> {{post.text}} </pre>  

</div>

{% if post.author == current_user %}
<div>
    <a href="{{url_for('blog_posts.update', blog_post_id=post.id)}}">Update Blog</a>
    <button class="btn btn-danger" type="button" data-bs-toggle = 'modal' data-bs-target="#del_post_modal">Delete</button>
</div>
{%endif%}
<div class="modal" tabindex="-1" id="del_post_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post !!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Aer you sure you want to delete this post?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form method="POST" action="{{url_for('blog_posts.delete_post', blog_post_id=post.id)}}">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}