{% extends "base.html" %}

{% block content %}
    <div class="mt-4 p-5 rounded" style="text-align:left;">
        <h2>Tech company blog</h2>
    </div>

<div class="container wt-100">
    {% for post in blog_posts.items %}
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h3>
                    <a class="card-title" href="{{url_for('blog_posts.view_blog', blog_post_id=post.id)}}">{{post.title}}</a>
                </h3> 
                <a href="{{url_for('users.user_posts', username=post.author.username)}}">Written By: {{post.author.username}}</a>
                <p class="card-title" style="font-size: small;">Published on: {{post.date.strftime('%d %M %Y')}}</p>
                <p class="card-text"> {{post.text[:150]}} </p>
                <a class="btn btn-primary" href="{{url_for('blog_posts.view_blog', blog_post_id=post.id)}}">Read Blog</a>
            </div>
        </div>
    {% endfor %}
 </div>

 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if blog_posts.page == page_num %}
        <li class="page-item disabled">
            <a href="{{url_for('core.index', page=page_num)}}" class="page-link">{{page_num}}</a>  
        </li>
        {% else %}
        <li class="page-item">
            <a href="{{url_for('core.index', page=page_num)}}" class="page-link">{{page_num}}</a>  
        </li>
        {%endif%}
    {% endfor %}
    </ul>
</nav>


{% endblock %}