{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h2>Welcome to the page for  {{user.username}} </h2>
            <img src="{{url_for('static', filename='profile_pic/'+user.profile_pic)}}">
        </div>
    
    {% for post in blog_posts.items %}
    <h2>
        <a href="{{url_for('blog_posts.view_blog', blog_post_id=post.id)}}"> </a></h2>
                Written By: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a>
        <p class="text-muted">Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
        <br>
        <p class="white-space:pre-line">{{post.text}}</p>
        <br>
       {%endfor%}
        
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if blog_posts.page == page_num %}
            <li class="page-item disabled">
                <a href="{{url_for('users.user_posts', page=page_num, username=user.username)}}" class="page-link">{{page_num}}</a>  
            </li>
            {% else %}
            <li class="page-item">
                <a href="{{url_for('users.user_posts', page=page_num, username=user.user)}}" class="page-link">{{page_num}}</a>  
            </li>
            {%endif%}
        {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}